.create-car-container {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 32px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-self: center;
}

/* Options section */
.custom-items {
    display: flex;
    gap: 12px;
    align-self: center;
}

.custom-items label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.95rem;
    cursor: pointer;
}

.actions input {
    margin: 10px;
}



.custom-items ul {
    list-style: none;      /* removes bullets */
    padding: 0;            /* removes default padding */
    margin: 0;             /* optional */
    
    display: flex;         /* makes items go in a row */
    gap: 10px;             /* space between items */
}

.custom-items li {
    display: inline;       /* optional, flex already handles layout */
}


/* Name + Create section */
.actions {
    display: flex;
    gap: 10px;
    align-self: center;
}

.actions ul {
    list-style: none;      /* removes bullets */
    padding: 0;            /* removes default padding */
    margin: 0;             /* optional */
    
    display: flex;         /* makes items go in a row */
    gap: 10px;             /* space between items */
}

.actions li {
    display: inline;       /* optional, flex already handles layout */
}


